<ion-content class="home-container">
  <div class="top-container">
    <div class="header-container">
      <app-header></app-header>
    </div>
    <div class="bond-points-container">
      <app-booster-section></app-booster-section>
    </div>
  </div>
  <section class="bottom-container">
    <div class="dashboard-container">
      <app-your-dashboard></app-your-dashboard>
    </div>
    <div class="other-items-container">
      <app-more-items></app-more-items>
    </div>
    <div class="invite-friends-container">
      <app-invite-friends></app-invite-friends>
    </div>
  </section>
</ion-content>
