<div class="other-items-content">
  <ion-text class="other-items-title">Do more with Bondex</ion-text>
  <swiper-container
    [breakpoints]="swiperConfig"
    [slidesPerView]="4"
    [navigation]="true"
    [spaceBetween]="10"
    [loop]="false"
    [autoplay]="false"
  >
    <swiper-slide>
      <div class="swiper-slide-cls">
        <div class="other-items-icon-cls">
          <img src="../../assets/images/Center.svg" alt="" />
        </div>
        <div class="other-items-box-cls">
          <p class="other-items-text-cls">Learn about Bond points</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="swiper-slide-cls">
        <div class="other-items-icon-cls">
          <img src="../../assets/images/rabbit 1.svg" alt="" />
        </div>
        <div class="other-items-box-cls">
          <p class="other-items-text-cls">Increase your Activity rate tip #1</p>
        </div>
      </div></swiper-slide
    >
    <swiper-slide>
      <div class="swiper-slide-cls">
        <div class="other-items-icon-cls">
          <img src="../../assets/images/Center.svg" alt="" />
        </div>
        <div class="other-items-box-cls">
          <p class="other-items-text-cls">Learn about your network</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="swiper-slide-cls">
        <div class="other-items-icon-cls">
          <img src="../../assets/images/rabbit 1.svg" alt="" />
        </div>
        <div class="other-items-box-cls">
          <p class="other-items-text-cls">Increase your Activity rate tip #2</p>
        </div>
      </div></swiper-slide
    >
  </swiper-container>
</div>
