.invite-friends-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  padding-left: 12px;
}

.build-network-content {
  text-align: center;
}

.if-text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: #000;
}

.if-text2 {
  font-size: 0.938rem;
}

ion-button {
  --border-radius: 100px;
  --background: #1a8771;
  --color: #fff;
  text-transform: capitalize;
}

img {
  padding-right: 5px;
}
