<div class="bond-points-content">
  <div class="collect-bond-points-content">
    <p class="bond-points-title">Bond Points</p>
    <p class="total-bond-points">
      {{ totalBondPoints }}
    </p>
    <img src="../../assets/images/boosting-indicator.svg" />
    <p class="collect-text">Tap to boost your Bond points</p>
  </div>
  <div class="details-content">
    <div class="each-detail-content">
      <p class="each-detail-title">
        Activity rate<img src="../../assets/icon/Info.svg" alt="info" />
      </p>
      <p class="each-detail-info">{{ activityRate }} points/hr</p>
    </div>
    <div class="each-detail-content">
      <p class="each-detail-title">
        Your network<img src="../../assets/icon/Info.svg" alt="info" />
      </p>
      <p class="each-detail-info">{{ yourNetwork }} active</p>
    </div>
  </div>
</div>
